---
import type { CollectionEntry } from "astro:content";
import ImageMosaic from "@components/ImageMosaic.astro";

type Props = {
  entry: CollectionEntry<"projects">;
};

const { entry } = Astro.props;
const href = `/${entry.collection}/${entry.slug}`;
const images = entry.data.images ?? [];
const hasImages = images.length > 0;
---

<a
  href={href}
  class="relative group flex flex-nowrap h-28 rounded-lg border border-black/15 dark:border-white/20 hover:bg-black/5 dark:hover:bg-white/5 text-black/50 dark:text-white/75 hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out no-underline decoration-transparent overflow-hidden"
>
  {hasImages && <ImageMosaic images={images} />}
  <div class="flex flex-col flex-1 min-w-0 justify-center py-3 px-4 pr-10">
    <div class="font-semibold truncate">
      {entry.data.title}
    </div>
    <div class="text-sm line-clamp-2">
      {entry.data.description}
    </div>
  </div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    class="absolute top-1/2 right-2 -translate-y-1/2 size-5 stroke-2 fill-none stroke-current"
  >
    <line
      x1="5"
      y1="12"
      x2="19"
      y2="12"
      class="translate-x-3 group-hover:translate-x-0 scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-in-out"
    />
    <polyline
      points="12 5 19 12 12 19"
      class="-translate-x-1 group-hover:translate-x-0 transition-transform duration-300 ease-in-out"
    />
  </svg>
</a>
